@import url("http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css");


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.sidebar-sticky {
  display: left;
}


/* .wrapper{
  background: #50a3a2;
background: -webkit-linear-gradient(top left, #50a3a2 0%, #53e3a6 100%);
background: -moz-linear-gradient(top left, #50a3a2 0%, #53e3a6 100%);
background: -o-linear-gradient(top left, #50a3a2 0%, #53e3a6 100%);
background: linear-gradient(to bottom right, #50a3a2 0%, #53e3a6 100%);
  
  
  width: 100%;
  min-height: 90vh;
  margin-top: 80px;
  overflow: hidden;
  
  &.form-success{
    .container{
      h1{
        transform: translateY(85px);
      }
    }
  }
}

.auth-container{
  max-width: 600px;
  margin: 0 auto;
  padding: 0px 0;
  height: 1000px;
  text-align: center;
}
  
.auth-container h1 {
  font-size: 40px;
  transition-duration: 1s;
  transition-timing-function: ease-in-put;
  font-weight: 200;
  }

input{
  display: block;
  appearance: none;
  outline: 0;
  border: 1px solid fade(white, 40%);
  background-color: fade(white, 20%);
  width: 250px;
    
  border-radius: 3px;
  padding: 10px 15px;
  margin: 0 auto 10px auto;
  text-align: center;
  font-size: 18px;
  color: black;
    
  transition-duration: 0.25s;
  font-weight: 300;
    
    &:hover{
      background-color: fade(white, 40%);
    }
    
    &:focus{
      background-color: white;
      width: 300px;
      
      color: @prim;
    }
  } */

  .test {
    
      position: absolute;
      width: 1px;
      height: 1px;
      padding: 0;
      margin: -1px; 
      overflow: hidden;
      clip: rect(0, 0, 0, 0);
      white-space: nowrap;
      border: 0;
    
  }