

.homepage-images {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  height: 35vh;
  margin-bottom: 15px;
  margin-right: 5px;
  /* padding: 5px; */
}

.homepage-images img {
  width: 30vw;
  height: 20vw;
  margin-bottom: 4px;
}

.each-property {
  border: 2px solid lightgray;
  margin: 2vh 2vh;
}

.each-property p {
  font-size: 14px;
}


#amenities {
  display: flex;
  justify-content: space-around;
}

#each-amenity {
  display: flex;
  width: 10%;
  justify-content: space-evenly;
}

#each-amenity p {
  font-size: 14px;
}







