.show-property {
  padding: 60px;
}

img {
  width: 90vw;
  height: 50vh; 
  background-size: cover;
}

.property-info {
  display: flex;
  justify-content: space-around;
  padding: 30px;
}

.property-info-left {
  width: 50vw;
}
.property-info-left-top {
  display: flex;
  justify-content: space-around;
  border-bottom: 2px solid lightgray;
  
}

.property-categories {
  display: flex;
  margin-left: 5vw;
  background-color: lightgreen;
  justify-content: space-around;
  width: 100%;
}

.property-categories img {
  width: 30%;
  height: 50%;
  margin-top: 2px;
}




#font {
  font-weight: bold;
}

.property-info-left-middle {
  margin-top: 10px;
  border-bottom: 2px solid lightgray;
  display: flex;
  justify-content: space-between;
  color: green;
}

.property-info-left-bottom {
  margin-top: 10px;
  text-align: left;
  border-bottom: 2px solid lightgray;
  width: 100%;
}

#property-details {
  height: 150px;
  overflow: hidden;
}

.property-info-right {
  border: 2px solid lightgray;
  width: 30%;
  height: 30%;
  padding: 10px;
  
}

.property-info-right img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.each-property {
  border: 2px solid lightgray;
  margin: 2vh 2vh;
}

.each-property p {
  font-size: 14px;
}

.agent-properties {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  height: 35vh;
  margin-bottom: 15px;
  margin-right: 5px;
  /* padding: 5px; */
}

.agent-properties img {
  width: 30vw;
  height: 20vw;
  margin-bottom: 4px;
}

#amenities {
  display: flex;
  justify-content: space-around;
}

#each-amenity {
  display: flex;
  width: 10%;
  justify-content: space-evenly;
}

#each-amenity p {
  font-size: 14px;
}